h1{
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    color: goldenrod;
}

.container {
    /* Set display to grid */
    display:grid;
    /* setup rows amd columns */
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 150px 400px;
       grid-template-areas: 
       "hd hd hd hd"
       "main main main main"
       "ft ft ft ft";
       border: 2px solid yellow;
    
    }

    .box{
        border: 1px solid red;
        background: #F8FA9D;
    }
    
    .header{
        grid-area: hd;
    }
    
    .content{
        grid-area: main;
    }
    
    .footer{
        grid-area: ft;
    }